body{
  text-align: center;
  font-family: 'Montserrat';
  border: 60px solid #2EC4B6;
  border-top: 0px;
  background-color: #011627;
  color: #FDFFFC;
  padding-bottom: 40px;
}
div{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;

}
.data{
  font-size: 1.5em;
  margin-bottom: 10px;
}
#sub{
border-radius: 25px;
background: #FF9F1C;
height: 80px;
width: 150px;
font-family: "Montserrat";
font-size: 1.2em;
margin-bottom: 4px;
}
